::selection{
    color: #faa4b5;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    text-decoration: none;
    transition: all .2s linear;
}

body{
background-color: #fff9f9e3;
}

.main{
    background-color:#333;
    margin:auto;
    top:0;
    padding: 10px auto;
    width: 100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    height: 12vh;
    position: fixed;
    z-index: 1000;  
}
.nav li{
    margin: 20px;
    display: inline-block;
    list-style: none;
    position: relative;
}
.nav a {
    font-size: 1.2rem;
    margin: 0.8rem;
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border:none;
    text-transform: capitalize;
    transition: 0.5s;

}
 .nav a:hover{
    color: #faa4b5;
    font-size: large;
}
ul li.active a{
    background-color:transparent;
    color: #f1c5ce;
    border-radius: 50%;
}

.logo img{
    float:left;
    height:auto;
    width:60px;
    border-radius: 25%;
    padding-top: 0.8rem;
}

.title{
    position: absolute;
    top:12%;
   }
   .title h1{
    color:rgb(165, 52, 52);
    font-size: 40px;
 }
.founder{
    float: right;
    justify-content: space-between;
    } 
 .container h2, h3, h4{
    color: #4b4a4a;
}
 

.container img{
    margin: right auto;
    height: 70vh;
    width: 45%;
    padding: auto;
    border-radius: 25%;
    transition: 1.4s;
}
.container img:hover{
    transform: rotate(360deg);
    transition-delay: 0.2s;
}
.container h1{
    margin:auto;
    padding:10px;
}

.start , .accomplishment , .founder{
    text-align: center;
    margin: 40px;
    padding: 40px 20px;
    font-size: 25px;
    justify-content: space-between;
    width: 80%;
    text-indent: 50px;
    word-spacing: 10px;
    

}

footer{
    width:100%;
    padding: 10px 0 35px; 
    bottom:0;
    background:linear-gradient(to right, #00093c,#1d4406);
    color:#fff;
    border-bottom-left-radius: 135px;
    font-size: 18px;
    line-height: 20px;
}

 .row{
    justify-content:space-between;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin:auto;
 }
 .col{
    flex-basis: 20%;
    padding:10px;
 }
 .logo{
    width: 80px;
    margin-bottom: 30px;
    height:auto;
    border-radius: 25%;
 }
 .logo img{
    margin-top: 25px;
    float:left;
    height:12vh;
    width:50px;

}
 .col h2{
    margin-bottom: 40px;
    position: relative;
    width: fit-content;

 }

 .email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
 }
 .form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px
 }
 form input{
    width:100%;
    outline: none;
    border: 0;
    color: #ccc;
    background: transparent;
 }

 hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto; 
 }

 .copyright{
    text-align:center;
    margin: 20px;

 }
 .underline{
    width: 100px;
    height: 5px;
    background:#767676 ;
    border-radius: 3px;
    position: absolute;
    }